#include "resource.h"
#include "afxres.h"

IDR_MYMENU MENU
BEGIN
    POPUP "&Fichier"
    BEGIN
        MENUITEM "&Sélectionner", ID_FILE_SELECT
        MENUITEM "&Créer", ID_FILE_CREATE
        MENUITEM "&Supprimer", ID_FILE_DELETE
        MENUITEM "&Configurer", ID_FILE_CONFIGURATE
        MENUITEM "&Quitter", ID_FILE_EXIT
    END
    POPUP "&BDD"
    BEGIN
        MENUITEM "&Eleves", ID_DB_STUDENTS
        MENUITEM "&Groupes", ID_DB_GROUPS
        MENUITEM "&Matières", ID_DB_SUBJECTS
        MENUITEM "E&nseignants", ID_DB_KHOLLEURS
    END
    POPUP "&Planning"
    BEGIN
        MENUITEM "&Emploi du temps", ID_SCHEDULE_TIMETABLE
        MENUITEM "&Lien élèves-groupes", ID_SCHEDULE_STUDENTS_GROUPS
        MENUITEM "&Horaires de kholles", ID_SCHEDULE_KHOLLES
        MENUITEM "Evènements &spéciaux", ID_SCHEDULE_EVENTS
    END
    POPUP "&Kholles"
    BEGIN
        MENUITEM "&Interface", ID_KHOLLES_MANAGE
        MENUITEM "&Générer", ID_KHOLLES_GENERATE
        MENUITEM "&Historique", ID_KHOLLES_HISTORIC
    END
    POPUP "&Aide"
    BEGIN
        MENUITEM "&Débrouillez-vous !", ID_HELP
        MENUITEM "A p&ropos de", ID_ABOUT_IT
    END
END


// WINDOW TO MANAGE THE STUDENTS
IDD_MANAGE_STUDENTS DIALOG DISCARDABLE  0, 0, 450, 200
STYLE (DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU)
CAPTION "Gestion des élèves"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Nom :", IDC_STATIC, 5, 7, 20, 12
    EDITTEXT        IDC_TEXT_NAME,30,5,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT
    CTEXT           "Prénom :", IDC_STATIC, 150, 7, 30, 12
    EDITTEXT        IDC_TEXT_FNAME,185,5,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT
    CTEXT           "Email :", IDC_STATIC, 300, 7, 30, 12
    EDITTEXT        IDC_TEXT_EMAIL,335,5,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT

    PUSHBUTTON      "&Ajouter", ID_ADD, 375, 25, 60, 14
    PUSHBUTTON      "&Modifier", ID_UPDATE, 375, 45, 60, 14
    PUSHBUTTON      "&Supprimer", ID_DELETE, 375, 65, 60, 14
    PUSHBUTTON      "&Fermer", ID_CLOSE, 375, 105, 60, 14

    LISTBOX         IDC_LIST, 5, 25, 350, 170, WS_VSCROLL  // ID_LIST,X,Y,WIDTH,HEIGHT
END

IDD_UPDATE_USER DIALOG DISCARDABLE  0, 0, 450, 40
STYLE (DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU)
CAPTION "Modification d'un élève"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Nom :", IDC_STATIC, 5, 7, 20, 12
    EDITTEXT        IDC_TEXT_NAME,30,5,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT
    CTEXT           "Prénom :", IDC_STATIC, 150, 7, 30, 12
    EDITTEXT        IDC_TEXT_FNAME,185,5,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT
    CTEXT           "Email :", IDC_STATIC, 300, 7, 30, 12
    EDITTEXT        IDC_TEXT_EMAIL,335,5,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT

    PUSHBUTTON      "&Valider", ID_UPDATE, 175, 22, 100, 14
END

// WINDOW TO MANAGE THE GROUPS
IDD_MANAGE_GROUPS DIALOG DISCARDABLE  0, 0, 260, 210
STYLE (DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU)
CAPTION "Gestion des groupes"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Nom :", IDC_STATIC, 10, 7, 20, 12
    EDITTEXT        IDC_TEXT_NAME,35,5,120,12 // ID_TEXT,X,Y,WIDTH,HEIGHT

    PUSHBUTTON      "&Ajouter", ID_ADD, 170, 4, 60, 14
    PUSHBUTTON      "&Supprimer", ID_DELETE, 50, 191, 60, 14
    PUSHBUTTON      "&Fermer", ID_CLOSE, 150, 191, 60, 14

    LISTBOX         IDC_LIST, 5, 25, 250, 170, WS_VSCROLL  // ID_LIST,X,Y,WIDTH,HEIGHT
END

// WINDOW TO MANAGE THE GROUPS
IDD_MANAGE_SUBJECTS DIALOG DISCARDABLE  0, 0, 350, 200
STYLE (DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU)
CAPTION "Gestion des matières"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Long :", IDC_STATIC, 5, 7, 20, 12
    EDITTEXT        IDC_TEXT_NAME,30,5,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT
    CTEXT           "Court :", IDC_STATIC, 150, 7, 30, 12
    EDITTEXT        IDC_TEXT_SHNAME,185,5,50,12 // ID_TEXT,X,Y,WIDTH,HEIGHT
    CTEXT           "Couleur :", IDC_STATIC, 250, 7, 30, 12
    EDITTEXT        IDC_COLOR,285,5,50,12 // ID_TEXT,X,Y,WIDTH,HEIGHT

    PUSHBUTTON      "&Ajouter", ID_ADD, 275, 35, 60, 14
    //PUSHBUTTON      "&Modifier", ID_UPDATE, 275, 45, 60, 14
    PUSHBUTTON      "&Supprimer", ID_DELETE, 275, 55, 60, 14
    PUSHBUTTON      "&Fermer", ID_CLOSE, 275, 95, 60, 14

    LISTBOX         IDC_LIST, 5, 25, 250, 170, WS_VSCROLL  // ID_LIST,X,Y,WIDTH,HEIGHT
END

// WINDOW TO MANAGE THE KHOLLEURS
IDD_MANAGE_KHOLLEURS DIALOG DISCARDABLE  0, 0, 450, 200
STYLE (DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU)
CAPTION "Gestion des enseignants"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Enseignant :", IDC_STATIC, 5, 8, 40, 12
    EDITTEXT        IDC_TEXT_NAME_TEACHER,45,6,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT
    PUSHBUTTON      "&Ajouter", ID_ADD_TEACHER, 150, 4, 60, 14

    LISTBOX         IDC_LIST_TEACHERS, 5, 25, 205, 179, WS_VSCROLL

    CTEXT           "Kholleur :", IDC_STATIC, 230, 8, 30, 12
    EDITTEXT        IDC_TEXT_NAME_KHOLLEUR,270,6,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT
    PUSHBUTTON      "&Ajouter", ID_ADD_KHOLLEUR, 375, 4, 60, 14

    LISTBOX         IDC_LIST_KHOLLEURS, 230, 25, 205, 179, WS_VSCROLL
END

IDD_UPDATE_TEACHER DIALOG DISCARDABLE  0, 0, 450, 40
STYLE (DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU)
CAPTION "Modification d'un enseignant"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Nom :", IDC_STATIC, 5, 7, 20, 12
    EDITTEXT        IDC_TEXT_NAME,30,5,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT
    COMBOBOX        ID_CB_SUBJECTS, 150, 5, 100, 50, CBS_DROPDOWNLIST

    PUSHBUTTON      "&Valider", ID_UPDATE, 175, 22, 100, 14
END

IDD_UPDATE_KHOLLEUR DIALOG DISCARDABLE  0, 0, 450, 40
STYLE (DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU)
CAPTION "Modification d'un kholleur"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Nom :", IDC_STATIC, 5, 7, 20, 12
    EDITTEXT        IDC_TEXT_NAME,30,5,100,12 // ID_TEXT,X,Y,WIDTH,HEIGHT

    PUSHBUTTON      "&Valider", ID_UPDATE, 175, 22, 100, 14
END
